# -----------------------------------------------
# Dev Container
# -----------------------------------------------
CONTAINER_NAME=06_predicting_f1_pit__stops_dev

# -----------------------------------------------
# MLflow
# -----------------------------------------------
# ローカルファイルベースの場合: mlruns
# compose.yml経由でサーバーを立てる場合: http://mlflow:5000
# MLFLOW_TRACKING_URI=
MLFLOW_EXPERIMENT_NAME=
# MLFLOW_PORT=

# -----------------------------------------------
# Streamlit
# -----------------------------------------------
# STREAMLIT_PORT=

# -----------------------------------------------
# JupyterLab
# -----------------------------------------------
# JUPYTER_PORT=

# -----------------------------------------------
# 外部API（必要に応じて追加）
# -----------------------------------------------
# OPENAI_API_KEY=
# OTHER_API_KEY=
